<!doctype html >
<!--[if IE 7 ]>    <html class="ie ie7 lte9 lte8 lte7 no-js no-mq" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 lte9 lte8 no-js no-mq" lang="en"> <![endif]-->
<!--[if (gt IE 8)|!(IE)]><!--> <html class="notie no-js" lang="en"> <!--<![endif]-->
<head>
	<title>Title</title>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

{{!-- 	
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">

	<link rel="stylesheet" href="{{assets}}/css/main.css?v={{global.assetVer}}">
	<link rel="stylesheet" type="text/css" href="//cloud.typography.com/7538692/673684/css/fonts.css" />

	<script src="{{assets}}/js/min/head.min.js?v={{global.assetVer}}" type="text/javascript" charset="utf-8"></script>
 --}}
 
	<!--[if (gte IE 6)&(lte IE 8)]>
		<script type="text/javascript" src="{{assets}}/js/min/ie.min.js"></script>
	<![endif]-->
</head>
<body>

	<div class="container page-wrapper"> <!-- # main container -->
